<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804815848083-3upcg2h5v3tftm9ee4cd5c4800kvqq5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804815848083-3upcg2h5v3tftm9ee4cd5c4800kvqq5c</string>
	<key>API_KEY</key>
	<string>AIzaSyC96ouI68KUto2-2CTgNuTYadcpP_rXkzk</string>
	<key>GCM_SENDER_ID</key>
	<string>804815848083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jiaxiu.wei.pdc</string>
	<key>PROJECT_ID</key>
	<string>pdcommunication-89332</string>
	<key>STORAGE_BUCKET</key>
	<string>pdcommunication-89332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804815848083:ios:d81b72916f1004cc</string>
	<key>DATABASE_URL</key>
	<string>https://pdcommunication-89332.firebaseio.com</string>
</dict>
</plist>